<section class="cart py-16">
    <% if(session.cart&& Object.keys(session.cart.items).length > 0) { %>
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
        </div>
        <div class="pizza-list">
            <% for(let pizza of Object.values(session.cart.items)) { %>
           

                <input id="hiddeninput" type="hidden" value="<%= JSON.stringify(pizza) %>">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/<%= pizza.item.image %>" alt="">
                <div class="flex-1 ml-4">
                    <h1><%= pizza.item.name %></h1>
                    <span><%= pizza.item.size %></span>
                </div>
                
                    <span  class="flex-1 "><span id="itemCounter"><%= pizza.qty %></span> </span>
                   
                    
                    <span class="flex-1 ml-4">
                        <a id="delete" href="/delete/<%=pizza.item._id%>"><img class="w-10" src="/img/delete.png" alt=""></a>
                           
            </span>
              
                <span id="price" class="font-bold text-lg">₹ <%= pizza.item.price * pizza.qty %></span>
               
            </div>
            <%  } %>

        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span id="totalPrice"class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
            </div>
            <% if(user) { %>
            <div>
                <a href="/customer/address"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Place Order</a>
            </div>
            <% } else { %>
            <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a maet yet. <br>
                To order a meat, go to the main page.</p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div>
    <% } %>
</section>